    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/perfilPhoto.png" class="img-fluid" id="fotoDePerfil"> 
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <h3 id="nombre">{{persona.nombre}} {{persona.apellido}}</h3>
            <p>Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mi</h1>
                <p>Soy disciplinado, trabajador. Me destaco por ser una persona meticulosa y detallista. y deseo continuar desarrollándome personal y profesionalmente, brindando lo mejor de mi a nivel laboral</p>
            </span>
        </div>
    </div>

